#game {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar field";
}

#gameSidebarContainer {
    grid-area: sidebar;
}

#gameFieldContainer {
    grid-area: field;
}

.playerName {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.dixitTitle {
    grid-area: title;
    font-family: 'dilana', serif;
    font-size: 150pt;
    text-align: center;
    opacity: 0.9;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 0.7em;
    color: whitesmoke;
    text-shadow: 0 0 20px white;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.notFound {
    color: white;
    font-size: 30pt;
}
