#gameSidebar {
    height: calc(100% - 200px);
    width: calc(100% - 100px);
    background-image: url("../images/sidebarCloud.png");
    background-size: 100% 100%;
    padding: 75px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#gameTitle {
    text-decoration: underline;
    font-size: 30pt;
    opacity: 0.55;
    margin: 25px;
    color: black;
}

.players {
    border-spacing: 25px 0;
}
.players th, .players td{
    text-align: center;
    opacity: 0.65;
}

.storyTeller {
    padding: 50px;
}
