#setup {
    height: 100%;
    width: 100%;
    margin: 0;
}

#board {
    height: 114vh;
    width: 114vw;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: calc(-56vh);
    margin-left: calc(-56vw);
    opacity: 0.94;
}

#options {
    height: 76vh;
    width: 70vw;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: calc(-38vh);
    margin-left: calc(-35vw);

    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'title title'
        'existingGame newGame';
    grid-column-gap: 20px;
}

#title {
    grid-area: title;
    font-family: 'dilana', serif;
    font-size: 150pt;
    text-align: center;
    opacity: 0.9;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 0.7em;
    color: whitesmoke;
    text-shadow: 0 0 20px white;
}

#newGame {
    grid-area: newGame;
}

#existingGame {
    grid-area: existingGame;
}

.subTitle {
    font-size: 40pt;
    text-align: center;
    opacity: 0.75;
    line-height: 0.7em;
    margin: 10px 0;
    color: whitesmoke;
    text-shadow: 0 0 20px white;
}

.setupButton {
    display: block;
    margin: 10px auto;
    font-weight: bold;
    opacity: 0.85;
    font-size: 22pt;
    border: none;
    color: whitesmoke;
    text-shadow: 0 0 20px white;
}

.setupButton:hover {
    opacity: 1;
}

#options input[type="text"] {
    width: fit-content;
}

.formEntry {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    margin: 5px 0;
    opacity: 0.8;
}

.formEntry:hover {
    opacity: 1;
}

.formEntry label {
    flex: 0 0 auto;
    opacity: 0.85;
    color: whitesmoke;
    text-shadow: 0 0 20px white;
}

.formEntry input {
    flex: 1 1 auto;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 0 0 15px white;
}

.formEntry button {
    flex: 0 0 auto;
}

.formEntry select {
    flex: 0 0 auto;
}

.formEntry span {
    flex: 1 1 auto;
}

#themeSelector {
    width: 100%;
}

#addButton, #removeButton {
    opacity: 0.8;
    border: none;
    color: whitesmoke;
    text-shadow: 0 0 20px white;
}

.error {
    opacity: 0.8;
    color: red;
    text-shadow: 0 0 20px white;
}

#moon {
    position: absolute;
    height: 100%;
    top: -40%;
    left: -20%;
    -webkit-animation-name: moon-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    animation-name: moon-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    filter: brightness(0.9);
}

@-webkit-keyframes moon-animation {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

/* Standard syntax */
@keyframes moon-animation {
    0%, 100% {

    }
    50% {
    }
}


.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
