#gameField {
    height: calc(100% - 200px);
    width: calc(100% - 100px);
    background-image: url("../images/fieldCloud.png");
    background-size: 100% 100%;
    padding: 75px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.gameCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.react-images__view-image {
    padding: 5em;
}
